body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0efe8;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  font-size: 3rem;
  font-weight: bold;
  color: whitesmoke;
  background-color: gray;
  margin: 10px;
  cursor: pointer;
}
#key {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  gap: 10px;
  padding: 20px;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(95, 95, 86);
}
.calculator{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(35, 33, 33);
    border-radius: 45px;
    max-width: 700px;
    overflow: hidden;
}
.operator{
    background-color: orange;
}
button:hover{
      background-color: rgb(151, 146, 146);

}
button:active{
          background-color: rgb(181, 174, 174);

}
.operator:hover{
        background-color: rgb(236, 185, 89);
}
.operator:active{
        background-color: rgb(243, 213, 157);

}
#equal{
    background-color: #61ac79;
}
#equal:hover{
    background-color: #91dda9;
}
#equal:active{
    background-color: #9af9b8;
}