* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #dfe6ff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-board {
    width: 1200px;
    background-color: #ffffff;
    border-radius: 18px;
    padding: 30px 50px 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.logo {
    font-size: 22px;
    font-weight: 600;
    color: #4f6df5;
}

.nav a {
    text-decoration: none;
    margin-left: 28px;
    font-size: 14px;
    color: #6b7280;
}

.nav a:hover {
    color: #1f45f0;
}

.nav a:active{
    color: #1f45f0a0;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    max-width: 520px;
}

.left p:first-child {
    font-size: 38px;
    font-weight: 600;
    line-height: 1.3;
    color: #111827;
}

.left p:first-child span {
    color: #4f6df5;
}

.left p:nth-child(2) {
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.6;
    color: #6b7280;
}

.left button {
    margin-top: 30px;
    padding: 12px 22px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    margin-right: 12px;
}

.left button:first-of-type {
    background-color: #4f6df5;
    color: #ffffff;
    border: 1px solid rgb(126,126,242);
}

.left button:first-of-type:hover {
    background-color: #3f5ce0;
    border: none;
}
.left button:first-of-type:active {
    background-color: #516bdf99;
    border: none;
}

.left button:last-of-type {
    background-color: #d1dcfe;
    color: #3053f3;
    border: 1px solid rgb(126, 126, 242);
}

.left button:last-of-type:hover {
    background-color: #e0e7ff;
    border: none;
}

.left button:last-of-type:active {
    background-color: #c8c8f5;
    border: none;
}

.right img {
    max-width: 100%;
    display: block;
    border-radius: 15px;
}
